@tailwind base;
@tailwind components;
@tailwind utilities;

#room_projects:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-10px);
}

#room_contact:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-10px);
}

#room_person:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translate(5px, 5px);
}
