@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(245, 245, 245);
  margin: 0px 5px;
}

/** fonts **/
p {
  font-family: "roboto";
  font-size: 1.1rem;
}

h2 {
  font-family: "Staatliches";
  font-size: 3rem;

  color: rgb(60, 52, 102);
  text-shadow: 1.5px 1.5px 0px rgba(226, 123, 55, 0.325);
}

h3 {
  font-family: "roboto";
  font-size: 1.2rem;
  line-height: 1rem;
}

/** room svg **/
#room {
  transform: translateY(-100%);
  overflow: visible;
}

#room_projects:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-10px);
}

#room_projects {
  transition: 0.25s;
}

#room_contact:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-10px);
}

#room_contact {
  transition: 0.25s;
}

#room_person:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translate(5px, 5px);
}

#room_person {
  transition: 0.25s;
}

/** room animations **/

.room_floor_down {
  animation: fall_down 0.8s forwards;
  animation-timing-function: cubic-bezier(.37,.77,.57,1.11);
}

.room_walls_down {
  animation: fall_down .8s forwards;
  animation-timing-function: cubic-bezier(.37,.77,.57,1.11);
  animation-delay: .5s;
}

.room_project_down {
  animation: fall_down .8s forwards;
  animation-timing-function: cubic-bezier(.37,.77,.57,1.11);
  animation-delay: 1s;
}

.room_person_down {
  animation: fall_down .8s forwards;
  animation-timing-function: cubic-bezier(.37,.77,.57,1.11);
  animation-delay: 1.5s;
}

.room_contact_down {
  animation: fall_down .8s forwards;
  animation-timing-function: cubic-bezier(.37,.77,.57,1.11);
  animation-delay: 2s;
}

@keyframes fall_down {
  0% {
 transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

/** other **/
.disclosure {
  border-radius: 4px;
  color: white;
  background-color: rgb(60, 52, 102);
  box-shadow: 2px 2px 0px rgba(226, 123, 55, 0.325);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
}

.grid {
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.link:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-2px);
}

.go_to_page:hover {
  transition: 0.25s;
  transform: translate(5px, -5px);
  box-shadow: -5px 5px 0px rgb(255, 155, 85);
  cursor: pointer;
}

.go_to_page {
  transition: 0.1s;
}
